--
-- PostgreSQL database dump
--

-- Dumped from database version 14.3 (Debian 14.3-1.pgdg110+1)
-- Dumped by pg_dump version 14.3 (Debian 14.3-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: area_estado_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.area_estado_enum AS ENUM (
    'activo',
    'inactivo'
);


ALTER TYPE public.area_estado_enum OWNER TO postgres;

--
-- Name: devolucion_condicion_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.devolucion_condicion_enum AS ENUM (
    'bueno',
    'da├▒ado',
    'incompleto'
);


ALTER TYPE public.devolucion_condicion_enum OWNER TO postgres;

--
-- Name: devolucion_unidad_condicion_devolucion_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.devolucion_unidad_condicion_devolucion_enum AS ENUM (
    'bueno',
    'danado',
    'incompleto'
);


ALTER TYPE public.devolucion_unidad_condicion_devolucion_enum OWNER TO postgres;

--
-- Name: ficha_estado_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.ficha_estado_enum AS ENUM (
    'en formacion',
    'terminada',
    'cancelada'
);


ALTER TYPE public.ficha_estado_enum OWNER TO postgres;

--
-- Name: ficha_jornada_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.ficha_jornada_enum AS ENUM (
    'manana',
    'tarde',
    'nocturna'
);


ALTER TYPE public.ficha_jornada_enum OWNER TO postgres;

--
-- Name: ficha_usuario_rol_en_ficha_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.ficha_usuario_rol_en_ficha_enum AS ENUM (
    'instructor',
    'aprendiz'
);


ALTER TYPE public.ficha_usuario_rol_en_ficha_enum OWNER TO postgres;

--
-- Name: incidencia_estado_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.incidencia_estado_enum AS ENUM (
    'abierta',
    'en proceso',
    'cerrada'
);


ALTER TYPE public.incidencia_estado_enum OWNER TO postgres;

--
-- Name: incidencia_tipo_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.incidencia_tipo_enum AS ENUM (
    'dano',
    'perdida',
    'mantenimiento'
);


ALTER TYPE public.incidencia_tipo_enum OWNER TO postgres;

--
-- Name: kardex_tipo_movimiento_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.kardex_tipo_movimiento_enum AS ENUM (
    'entrada',
    'salida',
    'ajuste',
    'traslado'
);


ALTER TYPE public.kardex_tipo_movimiento_enum OWNER TO postgres;

--
-- Name: lote_unidad_medida_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.lote_unidad_medida_enum AS ENUM (
    'kg',
    'l',
    'm',
    'unidad',
    'paquete'
);


ALTER TYPE public.lote_unidad_medida_enum OWNER TO postgres;

--
-- Name: material_categoria_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.material_categoria_enum AS ENUM (
    'consumible',
    'no consumible'
);


ALTER TYPE public.material_categoria_enum OWNER TO postgres;

--
-- Name: permisos_modulo_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.permisos_modulo_enum AS ENUM (
    'materiales',
    'prestamos',
    'inventario',
    'usuarios',
    'ubicaciones'
);


ALTER TYPE public.permisos_modulo_enum OWNER TO postgres;

--
-- Name: prestamo_estado_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.prestamo_estado_enum AS ENUM (
    'activo',
    'finalizado'
);


ALTER TYPE public.prestamo_estado_enum OWNER TO postgres;

--
-- Name: programa_estado_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.programa_estado_enum AS ENUM (
    'activo',
    'inactivo'
);


ALTER TYPE public.programa_estado_enum OWNER TO postgres;

--
-- Name: programa_nivel_formacion_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.programa_nivel_formacion_enum AS ENUM (
    'tecnico',
    'tecnologo',
    'complementaria'
);


ALTER TYPE public.programa_nivel_formacion_enum OWNER TO postgres;

--
-- Name: sede_estado_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.sede_estado_enum AS ENUM (
    'activo',
    'inactivo'
);


ALTER TYPE public.sede_estado_enum OWNER TO postgres;

--
-- Name: solicitud_estado_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.solicitud_estado_enum AS ENUM (
    'pendiente',
    'aprobado',
    'rechazado'
);


ALTER TYPE public.solicitud_estado_enum OWNER TO postgres;

--
-- Name: solicitud_tipo_prestamo_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.solicitud_tipo_prestamo_enum AS ENUM (
    'interno',
    'externo'
);


ALTER TYPE public.solicitud_tipo_prestamo_enum OWNER TO postgres;

--
-- Name: tipo_ubicacion_nombre_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tipo_ubicacion_nombre_enum AS ENUM (
    'bodega',
    'laboratorio',
    'aula'
);


ALTER TYPE public.tipo_ubicacion_nombre_enum OWNER TO postgres;

--
-- Name: ubicacion_estado_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.ubicacion_estado_enum AS ENUM (
    'activo',
    'inactivo'
);


ALTER TYPE public.ubicacion_estado_enum OWNER TO postgres;

--
-- Name: unidad_estado_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.unidad_estado_enum AS ENUM (
    'disponible',
    'prestado',
    'danado',
    'en mantenimiento',
    'perdido'
);


ALTER TYPE public.unidad_estado_enum OWNER TO postgres;

--
-- Name: usuario_estado_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.usuario_estado_enum AS ENUM (
    'activo',
    'inactivo'
);


ALTER TYPE public.usuario_estado_enum OWNER TO postgres;

--
-- Name: usuario_tipo_documento_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.usuario_tipo_documento_enum AS ENUM (
    'cc',
    'ti',
    'ce',
    'pasaporte'
);


ALTER TYPE public.usuario_tipo_documento_enum OWNER TO postgres;

--
-- Name: validacion_decision_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.validacion_decision_enum AS ENUM (
    'aprobado',
    'rechazado'
);


ALTER TYPE public.validacion_decision_enum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: area; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.area (
    id_area integer NOT NULL,
    id_sede uuid NOT NULL,
    id_usuario uuid NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text NOT NULL,
    estado public.area_estado_enum DEFAULT 'activo'::public.area_estado_enum NOT NULL
);


ALTER TABLE public.area OWNER TO postgres;

--
-- Name: area_id_area_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.area_id_area_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.area_id_area_seq OWNER TO postgres;

--
-- Name: area_id_area_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.area_id_area_seq OWNED BY public.area.id_area;


--
-- Name: centro; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.centro (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    ciudad character varying NOT NULL,
    direccion character varying NOT NULL,
    telefono character varying NOT NULL,
    estado character varying NOT NULL
);


ALTER TABLE public.centro OWNER TO postgres;

--
-- Name: devolucion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.devolucion (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    id_entrega text NOT NULL,
    fecha_devolucion timestamp without time zone NOT NULL,
    condicion public.devolucion_condicion_enum NOT NULL,
    observaciones text NOT NULL
);


ALTER TABLE public.devolucion OWNER TO postgres;

--
-- Name: devolucion_unidad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.devolucion_unidad (
    id_devolucion text NOT NULL,
    id_unidad text NOT NULL,
    condicion_devolucion public.devolucion_unidad_condicion_devolucion_enum NOT NULL
);


ALTER TABLE public.devolucion_unidad OWNER TO postgres;

--
-- Name: entrega; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.entrega (
    id_entrega integer NOT NULL,
    id_prestamo character varying NOT NULL,
    id_encargado character varying NOT NULL,
    fecha_entrega timestamp without time zone NOT NULL,
    observaciones text NOT NULL
);


ALTER TABLE public.entrega OWNER TO postgres;

--
-- Name: entrega_id_entrega_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.entrega_id_entrega_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.entrega_id_entrega_seq OWNER TO postgres;

--
-- Name: entrega_id_entrega_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.entrega_id_entrega_seq OWNED BY public.entrega.id_entrega;


--
-- Name: entrega_lote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.entrega_lote (
    id_entrega text NOT NULL,
    id_lote text NOT NULL,
    cantidad_entregada integer NOT NULL,
    cantidad_devuelta integer NOT NULL
);


ALTER TABLE public.entrega_lote OWNER TO postgres;

--
-- Name: entrega_unidad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.entrega_unidad (
    id_entrega text NOT NULL,
    id_unidad text NOT NULL
);


ALTER TABLE public.entrega_unidad OWNER TO postgres;

--
-- Name: ficha; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ficha (
    id_ficha integer NOT NULL,
    id_programa integer NOT NULL,
    codigo_ficha character varying(50) NOT NULL,
    fecha_inicio date NOT NULL,
    fecha_fin date NOT NULL,
    jornada public.ficha_jornada_enum NOT NULL,
    estado public.ficha_estado_enum DEFAULT 'en formacion'::public.ficha_estado_enum NOT NULL
);


ALTER TABLE public.ficha OWNER TO postgres;

--
-- Name: ficha_id_ficha_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ficha_id_ficha_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ficha_id_ficha_seq OWNER TO postgres;

--
-- Name: ficha_id_ficha_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ficha_id_ficha_seq OWNED BY public.ficha.id_ficha;


--
-- Name: ficha_usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ficha_usuario (
    id_ficha integer NOT NULL,
    id_usuario character varying NOT NULL,
    rol_en_ficha public.ficha_usuario_rol_en_ficha_enum NOT NULL
);


ALTER TABLE public.ficha_usuario OWNER TO postgres;

--
-- Name: incidencia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.incidencia (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    id_unidad text NOT NULL,
    id_usuario uuid NOT NULL,
    tipo public.incidencia_tipo_enum NOT NULL,
    fecha_incidencia timestamp without time zone NOT NULL,
    descripcion text NOT NULL,
    estado public.incidencia_estado_enum NOT NULL
);


ALTER TABLE public.incidencia OWNER TO postgres;

--
-- Name: kardex; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kardex (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tipo_movimiento public.kardex_tipo_movimiento_enum NOT NULL,
    cantidad integer NOT NULL,
    fecha_movimiento timestamp without time zone NOT NULL,
    saldo integer NOT NULL,
    id_unidad text,
    id_lote text,
    id_entrega text,
    id_devolucion text,
    id_traslado text,
    id_incidencia text
);


ALTER TABLE public.kardex OWNER TO postgres;

--
-- Name: lote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lote (
    id_lote integer NOT NULL,
    id_material character varying NOT NULL,
    id_responsable uuid NOT NULL,
    id_ubicacion integer NOT NULL,
    codigo_lote character varying(50) NOT NULL,
    cantidad_inicial integer NOT NULL,
    cantidad_disponible integer NOT NULL,
    unidad_medida public.lote_unidad_medida_enum NOT NULL,
    fecha_entrada date NOT NULL
);


ALTER TABLE public.lote OWNER TO postgres;

--
-- Name: lote_id_lote_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lote_id_lote_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.lote_id_lote_seq OWNER TO postgres;

--
-- Name: lote_id_lote_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lote_id_lote_seq OWNED BY public.lote.id_lote;


--
-- Name: material; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.material (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    id_ficha text NOT NULL,
    nombre character varying(150) NOT NULL,
    categoria public.material_categoria_enum NOT NULL,
    tipo character varying(50) NOT NULL,
    marca character varying(50) NOT NULL,
    modelo character varying(50) NOT NULL,
    descripcion text NOT NULL,
    codigo_unspsc character varying(20) NOT NULL
);


ALTER TABLE public.material OWNER TO postgres;

--
-- Name: permisos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permisos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion text NOT NULL,
    modulo public.permisos_modulo_enum NOT NULL
);


ALTER TABLE public.permisos OWNER TO postgres;

--
-- Name: prestamo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prestamo (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    id_validacion text NOT NULL,
    fecha_limite timestamp without time zone NOT NULL,
    estado public.prestamo_estado_enum DEFAULT 'activo'::public.prestamo_estado_enum NOT NULL
);


ALTER TABLE public.prestamo OWNER TO postgres;

--
-- Name: programa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.programa (
    id_programa integer NOT NULL,
    id_area integer NOT NULL,
    nombre character varying(150) NOT NULL,
    codigo_programa character varying(50) NOT NULL,
    nivel_formacion public.programa_nivel_formacion_enum NOT NULL,
    estado public.programa_estado_enum DEFAULT 'activo'::public.programa_estado_enum NOT NULL
);


ALTER TABLE public.programa OWNER TO postgres;

--
-- Name: programa_id_programa_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.programa_id_programa_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.programa_id_programa_seq OWNER TO postgres;

--
-- Name: programa_id_programa_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.programa_id_programa_seq OWNED BY public.programa.id_programa;


--
-- Name: rol; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rol (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre text NOT NULL,
    descripcion text NOT NULL
);


ALTER TABLE public.rol OWNER TO postgres;

--
-- Name: rol_permisos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rol_permisos (
    id_rol uuid NOT NULL,
    id_permiso uuid NOT NULL
);


ALTER TABLE public.rol_permisos OWNER TO postgres;

--
-- Name: sede; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sede (
    id_sede uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    id_centro uuid NOT NULL,
    nombre character varying(100) NOT NULL,
    direccion character varying(200) NOT NULL,
    telefono character varying(20) NOT NULL,
    estado public.sede_estado_enum DEFAULT 'activo'::public.sede_estado_enum NOT NULL
);


ALTER TABLE public.sede OWNER TO postgres;

--
-- Name: solicitud; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.solicitud (
    id_solicitud integer NOT NULL,
    id_solicitante character varying NOT NULL,
    fecha_solicitud timestamp without time zone NOT NULL,
    tipo_prestamo public.solicitud_tipo_prestamo_enum NOT NULL,
    estado public.solicitud_estado_enum DEFAULT 'pendiente'::public.solicitud_estado_enum NOT NULL,
    observaciones text NOT NULL
);


ALTER TABLE public.solicitud OWNER TO postgres;

--
-- Name: solicitud_id_solicitud_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.solicitud_id_solicitud_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.solicitud_id_solicitud_seq OWNER TO postgres;

--
-- Name: solicitud_id_solicitud_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.solicitud_id_solicitud_seq OWNED BY public.solicitud.id_solicitud;


--
-- Name: solicitud_lote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.solicitud_lote (
    id_solicitud character varying NOT NULL,
    id_lote character varying NOT NULL,
    cantidad_solicitada integer NOT NULL,
    id_usuario character varying NOT NULL
);


ALTER TABLE public.solicitud_lote OWNER TO postgres;

--
-- Name: solicitud_unidad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.solicitud_unidad (
    id_solicitud character varying NOT NULL,
    id_unidad character varying NOT NULL,
    id_usuario uuid NOT NULL
);


ALTER TABLE public.solicitud_unidad OWNER TO postgres;

--
-- Name: tipo_ubicacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tipo_ubicacion (
    id_tipo_ubicacion integer NOT NULL,
    nombre public.tipo_ubicacion_nombre_enum NOT NULL,
    descripcion text NOT NULL
);


ALTER TABLE public.tipo_ubicacion OWNER TO postgres;

--
-- Name: tipo_ubicacion_id_tipo_ubicacion_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tipo_ubicacion_id_tipo_ubicacion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tipo_ubicacion_id_tipo_ubicacion_seq OWNER TO postgres;

--
-- Name: tipo_ubicacion_id_tipo_ubicacion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tipo_ubicacion_id_tipo_ubicacion_seq OWNED BY public.tipo_ubicacion.id_tipo_ubicacion;


--
-- Name: traslado; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.traslado (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    id_responsable uuid NOT NULL,
    id_ubicacion_origen integer NOT NULL,
    id_ubicacion_destino integer NOT NULL,
    fecha_traslado timestamp without time zone NOT NULL,
    motivo text NOT NULL,
    observaciones text NOT NULL
);


ALTER TABLE public.traslado OWNER TO postgres;

--
-- Name: traslado_lote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.traslado_lote (
    id_traslado uuid NOT NULL,
    id_lote integer NOT NULL,
    cantidad_trasladada integer NOT NULL
);


ALTER TABLE public.traslado_lote OWNER TO postgres;

--
-- Name: traslado_unidad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.traslado_unidad (
    id_traslado uuid NOT NULL,
    id_unidad integer NOT NULL
);


ALTER TABLE public.traslado_unidad OWNER TO postgres;

--
-- Name: ubicacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ubicacion (
    id_ubicacion integer NOT NULL,
    id_area integer NOT NULL,
    id_tipo_ubicacion integer NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text NOT NULL,
    estado public.ubicacion_estado_enum DEFAULT 'activo'::public.ubicacion_estado_enum NOT NULL
);


ALTER TABLE public.ubicacion OWNER TO postgres;

--
-- Name: ubicacion_id_ubicacion_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ubicacion_id_ubicacion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ubicacion_id_ubicacion_seq OWNER TO postgres;

--
-- Name: ubicacion_id_ubicacion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ubicacion_id_ubicacion_seq OWNED BY public.ubicacion.id_ubicacion;


--
-- Name: unidad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.unidad (
    id_unidad integer NOT NULL,
    id_material character varying NOT NULL,
    id_responsable uuid NOT NULL,
    id_ubicacion integer NOT NULL,
    codigo_unidad character varying(50) NOT NULL,
    estado public.unidad_estado_enum DEFAULT 'disponible'::public.unidad_estado_enum NOT NULL
);


ALTER TABLE public.unidad OWNER TO postgres;

--
-- Name: unidad_id_unidad_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.unidad_id_unidad_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.unidad_id_unidad_seq OWNER TO postgres;

--
-- Name: unidad_id_unidad_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.unidad_id_unidad_seq OWNED BY public.unidad.id_unidad;


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuario (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    id_rol uuid NOT NULL,
    tipo_documento public.usuario_tipo_documento_enum NOT NULL,
    numero_documento character varying(20) NOT NULL,
    nombres character varying(100) NOT NULL,
    apellidos character varying(100) NOT NULL,
    correo character varying(100) NOT NULL,
    telefono character varying(20) NOT NULL,
    estado public.usuario_estado_enum NOT NULL,
    contrasena character varying(255) NOT NULL
);


ALTER TABLE public.usuario OWNER TO postgres;

--
-- Name: validacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.validacion (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    id_solicitud text NOT NULL,
    id_validador text NOT NULL,
    fecha_validacion timestamp without time zone NOT NULL,
    decision public.validacion_decision_enum DEFAULT 'aprobado'::public.validacion_decision_enum NOT NULL,
    observaciones text NOT NULL
);


ALTER TABLE public.validacion OWNER TO postgres;

--
-- Name: area id_area; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.area ALTER COLUMN id_area SET DEFAULT nextval('public.area_id_area_seq'::regclass);


--
-- Name: entrega id_entrega; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entrega ALTER COLUMN id_entrega SET DEFAULT nextval('public.entrega_id_entrega_seq'::regclass);


--
-- Name: ficha id_ficha; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ficha ALTER COLUMN id_ficha SET DEFAULT nextval('public.ficha_id_ficha_seq'::regclass);


--
-- Name: lote id_lote; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lote ALTER COLUMN id_lote SET DEFAULT nextval('public.lote_id_lote_seq'::regclass);


--
-- Name: programa id_programa; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programa ALTER COLUMN id_programa SET DEFAULT nextval('public.programa_id_programa_seq'::regclass);


--
-- Name: solicitud id_solicitud; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitud ALTER COLUMN id_solicitud SET DEFAULT nextval('public.solicitud_id_solicitud_seq'::regclass);


--
-- Name: tipo_ubicacion id_tipo_ubicacion; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipo_ubicacion ALTER COLUMN id_tipo_ubicacion SET DEFAULT nextval('public.tipo_ubicacion_id_tipo_ubicacion_seq'::regclass);


--
-- Name: ubicacion id_ubicacion; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ubicacion ALTER COLUMN id_ubicacion SET DEFAULT nextval('public.ubicacion_id_ubicacion_seq'::regclass);


--
-- Name: unidad id_unidad; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unidad ALTER COLUMN id_unidad SET DEFAULT nextval('public.unidad_id_unidad_seq'::regclass);


--
-- Data for Name: area; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.area (id_area, id_sede, id_usuario, nombre, descripcion, estado) FROM stdin;
\.


--
-- Data for Name: centro; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.centro (id, name, ciudad, direccion, telefono, estado) FROM stdin;
\.


--
-- Data for Name: devolucion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.devolucion (id, id_entrega, fecha_devolucion, condicion, observaciones) FROM stdin;
\.


--
-- Data for Name: devolucion_unidad; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.devolucion_unidad (id_devolucion, id_unidad, condicion_devolucion) FROM stdin;
\.


--
-- Data for Name: entrega; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.entrega (id_entrega, id_prestamo, id_encargado, fecha_entrega, observaciones) FROM stdin;
\.


--
-- Data for Name: entrega_lote; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.entrega_lote (id_entrega, id_lote, cantidad_entregada, cantidad_devuelta) FROM stdin;
\.


--
-- Data for Name: entrega_unidad; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.entrega_unidad (id_entrega, id_unidad) FROM stdin;
\.


--
-- Data for Name: ficha; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ficha (id_ficha, id_programa, codigo_ficha, fecha_inicio, fecha_fin, jornada, estado) FROM stdin;
\.


--
-- Data for Name: ficha_usuario; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ficha_usuario (id_ficha, id_usuario, rol_en_ficha) FROM stdin;
\.


--
-- Data for Name: incidencia; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.incidencia (id, id_unidad, id_usuario, tipo, fecha_incidencia, descripcion, estado) FROM stdin;
\.


--
-- Data for Name: kardex; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.kardex (id, tipo_movimiento, cantidad, fecha_movimiento, saldo, id_unidad, id_lote, id_entrega, id_devolucion, id_traslado, id_incidencia) FROM stdin;
\.


--
-- Data for Name: lote; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lote (id_lote, id_material, id_responsable, id_ubicacion, codigo_lote, cantidad_inicial, cantidad_disponible, unidad_medida, fecha_entrada) FROM stdin;
\.


--
-- Data for Name: material; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.material (id, id_ficha, nombre, categoria, tipo, marca, modelo, descripcion, codigo_unspsc) FROM stdin;
\.


--
-- Data for Name: permisos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: prestamo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prestamo (id, id_validacion, fecha_limite, estado) FROM stdin;
\.


--
-- Data for Name: programa; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.programa (id_programa, id_area, nombre, codigo_programa, nivel_formacion, estado) FROM stdin;
\.


--
-- Data for Name: rol; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rol (id, nombre, descripcion) FROM stdin;
918baa0f-1f58-43ef-89c0-192337dcbffd	Admin	Puedo hacer lo que me de la puta gana
5b795534-0809-4753-8922-536d75d74fa7	Administrador	Acceso completo al sistema SIGMAT
3662cbea-9219-46e3-8d4a-359100d09301	Instructor	Gesti├│n de materiales y pr├®stamos
0f2a23d5-74c5-417e-a86d-c9a6564b79cd	Aprendiz	Consulta y solicitud de pr├®stamos
\.


--
-- Data for Name: rol_permisos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sede; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sede (id_sede, id_centro, nombre, direccion, telefono, estado) FROM stdin;
\.


--
-- Data for Name: solicitud; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.solicitud (id_solicitud, id_solicitante, fecha_solicitud, tipo_prestamo, estado, observaciones) FROM stdin;
\.


--
-- Data for Name: solicitud_lote; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.solicitud_lote (id_solicitud, id_lote, cantidad_solicitada, id_usuario) FROM stdin;
\.


--
-- Data for Name: solicitud_unidad; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.solicitud_unidad (id_solicitud, id_unidad, id_usuario) FROM stdin;
\.


--
-- Data for Name: tipo_ubicacion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tipo_ubicacion (id_tipo_ubicacion, nombre, descripcion) FROM stdin;
\.


--
-- Data for Name: traslado; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.traslado (id, id_responsable, id_ubicacion_origen, id_ubicacion_destino, fecha_traslado, motivo, observaciones) FROM stdin;
\.


--
-- Data for Name: traslado_lote; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.traslado_lote (id_traslado, id_lote, cantidad_trasladada) FROM stdin;
\.


--
-- Data for Name: traslado_unidad; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.traslado_unidad (id_traslado, id_unidad) FROM stdin;
\.


--
-- Data for Name: ubicacion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ubicacion (id_ubicacion, id_area, id_tipo_ubicacion, nombre, descripcion, estado) FROM stdin;
\.


--
-- Data for Name: unidad; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.unidad (id_unidad, id_material, id_responsable, id_ubicacion, codigo_unidad, estado) FROM stdin;
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: validacion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.validacion (id, id_solicitud, id_validador, fecha_validacion, decision, observaciones) FROM stdin;
\.


--
-- Name: area_id_area_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.area_id_area_seq', 1, false);


--
-- Name: entrega_id_entrega_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.entrega_id_entrega_seq', 1, false);


--
-- Name: ficha_id_ficha_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ficha_id_ficha_seq', 1, false);


--
-- Name: lote_id_lote_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lote_id_lote_seq', 1, false);


--
-- Name: programa_id_programa_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.programa_id_programa_seq', 1, false);


--
-- Name: solicitud_id_solicitud_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.solicitud_id_solicitud_seq', 1, false);


--
-- Name: tipo_ubicacion_id_tipo_ubicacion_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tipo_ubicacion_id_tipo_ubicacion_seq', 1, false);


--
-- Name: ubicacion_id_ubicacion_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ubicacion_id_ubicacion_seq', 1, false);


--
-- Name: unidad_id_unidad_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.unidad_id_unidad_seq', 1, false);


--
-- Name: material PK_0343d0d577f3effc2054cbaca7f; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material
    ADD CONSTRAINT "PK_0343d0d577f3effc2054cbaca7f" PRIMARY KEY (id);


--
-- Name: ficha PK_0ff7e5ed972248cfd97e09debab; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ficha
    ADD CONSTRAINT "PK_0ff7e5ed972248cfd97e09debab" PRIMARY KEY (id_ficha);


--
-- Name: incidencia PK_1e98587e9dc53e62e039e0dbabf; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidencia
    ADD CONSTRAINT "PK_1e98587e9dc53e62e039e0dbabf" PRIMARY KEY (id);


--
-- Name: permisos PK_3127bd9cfeb13ae76186d0d9b38; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permisos
    ADD CONSTRAINT "PK_3127bd9cfeb13ae76186d0d9b38" PRIMARY KEY (id);


--
-- Name: traslado_unidad PK_312ff9c3499c7d9dcbf25ad6bbc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.traslado_unidad
    ADD CONSTRAINT "PK_312ff9c3499c7d9dcbf25ad6bbc" PRIMARY KEY (id_traslado, id_unidad);


--
-- Name: devolucion PK_31b2c6430381911d9c0fd1bca33; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devolucion
    ADD CONSTRAINT "PK_31b2c6430381911d9c0fd1bca33" PRIMARY KEY (id);


--
-- Name: tipo_ubicacion PK_5728d6e855ebbc92f3f3eb830d8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipo_ubicacion
    ADD CONSTRAINT "PK_5728d6e855ebbc92f3f3eb830d8" PRIMARY KEY (id_tipo_ubicacion);


--
-- Name: solicitud_unidad PK_76596e70c424d6a2a6689ea0555; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitud_unidad
    ADD CONSTRAINT "PK_76596e70c424d6a2a6689ea0555" PRIMARY KEY (id_solicitud, id_unidad);


--
-- Name: area PK_86074992649c7e39b53c6ac70aa; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.area
    ADD CONSTRAINT "PK_86074992649c7e39b53c6ac70aa" PRIMARY KEY (id_area);


--
-- Name: solicitud_lote PK_8b2d619a501bbaa70dc3814159a; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitud_lote
    ADD CONSTRAINT "PK_8b2d619a501bbaa70dc3814159a" PRIMARY KEY (id_solicitud, id_lote);


--
-- Name: traslado_lote PK_8bbbe89c431218df2e9d495d708; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.traslado_lote
    ADD CONSTRAINT "PK_8bbbe89c431218df2e9d495d708" PRIMARY KEY (id_traslado, id_lote);


--
-- Name: traslado PK_8fb57f3f6b77ee778fcd6a53f6c; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.traslado
    ADD CONSTRAINT "PK_8fb57f3f6b77ee778fcd6a53f6c" PRIMARY KEY (id);


--
-- Name: solicitud PK_96d9b3a247822c16eee289e79c6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitud
    ADD CONSTRAINT "PK_96d9b3a247822c16eee289e79c6" PRIMARY KEY (id_solicitud);


--
-- Name: sede PK_977d80e6ce0c28cc0db575ab0b1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sede
    ADD CONSTRAINT "PK_977d80e6ce0c28cc0db575ab0b1" PRIMARY KEY (id_sede);


--
-- Name: rol_permisos PK_a10853440f1af03927e28f2836b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_permisos
    ADD CONSTRAINT "PK_a10853440f1af03927e28f2836b" PRIMARY KEY (id_rol, id_permiso);


--
-- Name: validacion PK_a315fc63377434fd147a076dfe5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.validacion
    ADD CONSTRAINT "PK_a315fc63377434fd147a076dfe5" PRIMARY KEY (id);


--
-- Name: programa PK_a42f071f011b2de3467c33e0c5e; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programa
    ADD CONSTRAINT "PK_a42f071f011b2de3467c33e0c5e" PRIMARY KEY (id_programa);


--
-- Name: usuario PK_a56c58e5cabaa04fb2c98d2d7e2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT "PK_a56c58e5cabaa04fb2c98d2d7e2" PRIMARY KEY (id);


--
-- Name: entrega_lote PK_b49e74d8081f69dfcadd54d7683; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entrega_lote
    ADD CONSTRAINT "PK_b49e74d8081f69dfcadd54d7683" PRIMARY KEY (id_entrega, id_lote);


--
-- Name: unidad PK_b60515cc7d8f49cc072d77310a0; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unidad
    ADD CONSTRAINT "PK_b60515cc7d8f49cc072d77310a0" PRIMARY KEY (id_unidad);


--
-- Name: ficha_usuario PK_bad709f056916436e0ce5cd6649; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ficha_usuario
    ADD CONSTRAINT "PK_bad709f056916436e0ce5cd6649" PRIMARY KEY (id_ficha, id_usuario);


--
-- Name: rol PK_c93a22388638fac311781c7f2dd; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol
    ADD CONSTRAINT "PK_c93a22388638fac311781c7f2dd" PRIMARY KEY (id);


--
-- Name: kardex PK_ca0b846246b435ff5032b73202b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kardex
    ADD CONSTRAINT "PK_ca0b846246b435ff5032b73202b" PRIMARY KEY (id);


--
-- Name: lote PK_cd03609638866c3e8cb3dc2759b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lote
    ADD CONSTRAINT "PK_cd03609638866c3e8cb3dc2759b" PRIMARY KEY (id_lote);


--
-- Name: entrega PK_cf9074cc6d447066d65bf57939a; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entrega
    ADD CONSTRAINT "PK_cf9074cc6d447066d65bf57939a" PRIMARY KEY (id_entrega);


--
-- Name: ubicacion PK_d7dc0e08efee4b63e40899d6f7b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ubicacion
    ADD CONSTRAINT "PK_d7dc0e08efee4b63e40899d6f7b" PRIMARY KEY (id_ubicacion);


--
-- Name: centro PK_dcccfc4ab1d927f06cbf46c67ab; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.centro
    ADD CONSTRAINT "PK_dcccfc4ab1d927f06cbf46c67ab" PRIMARY KEY (id);


--
-- Name: devolucion_unidad PK_e610b06e4cb433f1cbcb7c24a23; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devolucion_unidad
    ADD CONSTRAINT "PK_e610b06e4cb433f1cbcb7c24a23" PRIMARY KEY (id_devolucion, id_unidad);


--
-- Name: prestamo PK_f278f946a735410406b7d965b2a; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prestamo
    ADD CONSTRAINT "PK_f278f946a735410406b7d965b2a" PRIMARY KEY (id);


--
-- Name: entrega_unidad PK_f3ede3bb3b0a7a5607a23b221c1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entrega_unidad
    ADD CONSTRAINT "PK_f3ede3bb3b0a7a5607a23b221c1" PRIMARY KEY (id_entrega, id_unidad);


--
-- Name: solicitud_unidad FK_09fd70427dd1ee0e5134387d6c7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitud_unidad
    ADD CONSTRAINT "FK_09fd70427dd1ee0e5134387d6c7" FOREIGN KEY (id_usuario) REFERENCES public.usuario(id);


--
-- Name: traslado FK_1ffb4624a9bb7d60cf110909668; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.traslado
    ADD CONSTRAINT "FK_1ffb4624a9bb7d60cf110909668" FOREIGN KEY (id_ubicacion_destino) REFERENCES public.ubicacion(id_ubicacion);


--
-- Name: usuario FK_3628e9894c4b014d61a01cb21dd; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT "FK_3628e9894c4b014d61a01cb21dd" FOREIGN KEY (id_rol) REFERENCES public.rol(id);


--
-- Name: sede FK_39d3bfddbf36b7485b14dfe4586; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sede
    ADD CONSTRAINT "FK_39d3bfddbf36b7485b14dfe4586" FOREIGN KEY (id_centro) REFERENCES public.centro(id);


--
-- Name: ficha FK_3ada5f55b271045d9bac08524ef; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ficha
    ADD CONSTRAINT "FK_3ada5f55b271045d9bac08524ef" FOREIGN KEY (id_programa) REFERENCES public.programa(id_programa);


--
-- Name: traslado_lote FK_45e5671bf335793e901ab30970f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.traslado_lote
    ADD CONSTRAINT "FK_45e5671bf335793e901ab30970f" FOREIGN KEY (id_traslado) REFERENCES public.traslado(id);


--
-- Name: unidad FK_48c1473dac8cd6600bcf0e2d9db; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unidad
    ADD CONSTRAINT "FK_48c1473dac8cd6600bcf0e2d9db" FOREIGN KEY (id_ubicacion) REFERENCES public.ubicacion(id_ubicacion);


--
-- Name: rol_permisos FK_4f6669e20f438ece7f6bdaece60; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_permisos
    ADD CONSTRAINT "FK_4f6669e20f438ece7f6bdaece60" FOREIGN KEY (id_permiso) REFERENCES public.permisos(id);


--
-- Name: traslado FK_5137f981d7dd83c069c52613e76; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.traslado
    ADD CONSTRAINT "FK_5137f981d7dd83c069c52613e76" FOREIGN KEY (id_responsable) REFERENCES public.usuario(id);


--
-- Name: ubicacion FK_6deb360252fbf2d1e3243c50bc0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ubicacion
    ADD CONSTRAINT "FK_6deb360252fbf2d1e3243c50bc0" FOREIGN KEY (id_tipo_ubicacion) REFERENCES public.tipo_ubicacion(id_tipo_ubicacion);


--
-- Name: ficha_usuario FK_72995ed53a1a311dd1e1ea320ec; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ficha_usuario
    ADD CONSTRAINT "FK_72995ed53a1a311dd1e1ea320ec" FOREIGN KEY (id_ficha) REFERENCES public.ficha(id_ficha);


--
-- Name: area FK_7e6b1dfac3f51350ebd05f70a1e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.area
    ADD CONSTRAINT "FK_7e6b1dfac3f51350ebd05f70a1e" FOREIGN KEY (id_usuario) REFERENCES public.usuario(id);


--
-- Name: rol_permisos FK_7fa2b962d448a87d05b77a1f222; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_permisos
    ADD CONSTRAINT "FK_7fa2b962d448a87d05b77a1f222" FOREIGN KEY (id_rol) REFERENCES public.rol(id);


--
-- Name: unidad FK_a6b8024176308b00eba02200516; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unidad
    ADD CONSTRAINT "FK_a6b8024176308b00eba02200516" FOREIGN KEY (id_responsable) REFERENCES public.usuario(id);


--
-- Name: programa FK_a9064a0345c08a20ad960515410; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programa
    ADD CONSTRAINT "FK_a9064a0345c08a20ad960515410" FOREIGN KEY (id_area) REFERENCES public.area(id_area);


--
-- Name: incidencia FK_a9bcf0369914631e09b27bf23c6; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidencia
    ADD CONSTRAINT "FK_a9bcf0369914631e09b27bf23c6" FOREIGN KEY (id_usuario) REFERENCES public.usuario(id);


--
-- Name: traslado FK_ab5bfefcf75f1eb35b605940dff; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.traslado
    ADD CONSTRAINT "FK_ab5bfefcf75f1eb35b605940dff" FOREIGN KEY (id_ubicacion_origen) REFERENCES public.ubicacion(id_ubicacion);


--
-- Name: area FK_ac0c9fb956b4fab3de467d76e2a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.area
    ADD CONSTRAINT "FK_ac0c9fb956b4fab3de467d76e2a" FOREIGN KEY (id_sede) REFERENCES public.sede(id_sede);


--
-- Name: traslado_lote FK_b3ff0ff17b02a4eaeaaa81aa9d7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.traslado_lote
    ADD CONSTRAINT "FK_b3ff0ff17b02a4eaeaaa81aa9d7" FOREIGN KEY (id_lote) REFERENCES public.lote(id_lote);


--
-- Name: ubicacion FK_c2ba96a019d6c6e9e5b6b29d26e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ubicacion
    ADD CONSTRAINT "FK_c2ba96a019d6c6e9e5b6b29d26e" FOREIGN KEY (id_area) REFERENCES public.area(id_area);


--
-- Name: traslado_unidad FK_c44113728424d7b9e386bab3b1c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.traslado_unidad
    ADD CONSTRAINT "FK_c44113728424d7b9e386bab3b1c" FOREIGN KEY (id_unidad) REFERENCES public.unidad(id_unidad);


--
-- Name: traslado_unidad FK_e0c360a0150369d298fff49eaa7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.traslado_unidad
    ADD CONSTRAINT "FK_e0c360a0150369d298fff49eaa7" FOREIGN KEY (id_traslado) REFERENCES public.traslado(id);


--
-- Name: lote FK_ed2f92e02db2433f0bdaa80b900; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lote
    ADD CONSTRAINT "FK_ed2f92e02db2433f0bdaa80b900" FOREIGN KEY (id_ubicacion) REFERENCES public.ubicacion(id_ubicacion);


--
-- Name: lote FK_f05005e6e6d081b29dddd8f9e71; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lote
    ADD CONSTRAINT "FK_f05005e6e6d081b29dddd8f9e71" FOREIGN KEY (id_responsable) REFERENCES public.usuario(id);


--
-- PostgreSQL database dump complete
--

